.font-lato {
    font-family: 'Lato', 'Open Sans', sans-serif;
}

.font-sans {
    font-family: 'Open Sans', 'Lato', sans-serif;
}

.font-cabin {
    font-family: 'Cabin', 'Open Sans', sans-serif;
}

.font-black {
    font-weight: bolder;
}

.font-bold {
    font-weight: bold;
}

.font-medium {
    font-weight: 600;
}

.font-light {
    font-weight: light;
}

.font-normal {
    font-weight: normal;
}

.text-xs {
    font-size: x-small;
}

.text-sm {
    font-size: small;
}

.text-base {
    font-size: medium;
}

.text-lg {
    font-size: large;
}

.text-xl {
    font-size: larger;
}

.text-xxl {
    font-size: x-large;
}

.title {
    text-align: center;
    font-weight: medium;
    font-size: 20px;
    font-family: 'Cabin', 'Open Sans', sans-serif;
}

.text-blue {
    color: var(--primary-color);
}